<div class="col-12" style="text-align:center">
  <h4 style="color:rgb(9, 120, 231);padding-top: 1%;padding-bottom: 1%;"><img src="imatges/battery.png" width="55"
      height="50" alt="Prosum" ; />CONTROL BATERIA COMUNITÀRIA</h4>
</div>
<div>
  <p id="text"></p>
</div>

<script>
  //async function randomNumber() {
  //let num = Math.floor(Math.random() * 100);
  //document.getElementById('randomNumber').innerText = num;
  //}
  //setInterval(randomNumber, 2000);

  //async function incrementNumber(num) {
  //num++;
  //document.getElementById('incrementNumber').innerText = num;
  //await new Promise(resolve => setTimeout(resolve, 3000));
  //await incrementNumber(num);
  //}
  //incrementNumber(0);
  //setInterval(updateValue, 2000);
  function updateValue(newValue) {
    let element = document.getElementById('text');
    let parsedResult = JSON.parse(newValue);
    element.innerHTML = parsedResult.text;
    setTimeout(() => {
      element.innerHTML = '';
    }, 500);
  }

  function fetchData() {
    fetch('/getValues')  // Make a request to the server to get the updated value
      .then(response => response.json())
      .then(data => {
        updateValue(data);
      })
      .catch(error => console.error('Error:', error));
  }

  // Call fetchData every second
  setInterval(fetchData, 2000);

</script>