<div class="col-12" style="text-align:center">
  <h4 style="color:rgb(9, 120, 231);padding-top: 1%;padding-bottom: 1%;"><img src="imatges/battery.png" width="55"
      height="50" alt="Prosum" ; />CONTROL BATERIA COMUNITÀRIA</h4>
</div>
<div style="display: flex;
    align-items: center; margin-left:3%">
  <div class="led" id="led" style="width: 25px;
            height: 25px;
            background-color: red;
            border-radius: 50%;display: inline-block;"></div>
  <p id="text" style="margin-left:3%; margin-top:1%;display: inline-block;"></p>
</div>

<script>
  dateTime = null;
  function updateValue(newValue) {
    let parsedResult = JSON.parse(newValue);
    if (parsedResult.date !== dateTime) {
      let text = document.getElementById('text');
      text.style.fontWeight = 'bold';
      const led = document.getElementById('led');
      text.innerHTML = parsedResult.text;
      led.style.backgroundColor = 'green';
      setTimeout(() => {
        text.innerHTML = 'esperant ordre...'; text.style.fontWeight = 'normal                                     xc'; led.style.backgroundColor = 'red';
      }, 2000);
    }
    dateTime = parsedResult.date;
  }

  function fetchData() {
    fetch('/getValues')  // Make a request to the server to get the updated value
      .then(response => response.json())
      .then(data => {
        updateValue(data);
      })
      .catch(error => console.error('Error:', error));
  }

  setInterval(fetchData, 5000);

</script>